@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.ttf')  format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Italic.ttf')  format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-BoldItalic.ttf')  format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('../fonts/RobotoMono-Regular.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('../fonts/RobotoMono-Bold.ttf')  format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('../fonts/RobotoMono-Italic.ttf')  format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('../fonts/RobotoMono-BoldItalic.ttf')  format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto Medium';
  src: url('../fonts/Roboto-Medium.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Medium';
  src: url('../fonts/Roboto-MediumItalic.ttf')  format('truetype');
  font-weight: normal;
  font-style: italic;
}



* {
	margin: 0;
	padding: 0;
} /* to remove the top and left whitespace */
body {
	background-image: url("../img/crossword.png");
}

html,body {
	width: 100%;
	height: 100%;
        font-family: "Roboto", sans-serif;
} /* just to be sure these are full screen*/
.webswing-element {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.webswing-version {
	position: fixed;
	right: 20px;
	bottom: 0px;
	color: lightgray;
        font-family: "Roboto Mono", sans-serif;
	z-index: -1;
	font-size: small;
}

.webswing-version a{
	color: lightgray;
}
